<nav>
    <a href="{{ path('index') }}">Home</a>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_user_index')}}">Admin</a>
    {% endif %}

    {% if is_granted('ROLE_COMERCIAL') %}
        <a href="{{ path('app_presupuesto_index') }}">Comercial</a>
    {% endif %}

    {% if is_granted('ROLE_JEFEPROYECTO') %}
        <a href="{{ path('app_proyecto_index') }}">Jefe Proyecto</a>
    {% endif %}

    {% if is_granted('ROLE_EMPLEADO') %}
        <a href="{{ path('app_tarea_index') }}">Empleado</a>
    {% endif %}

    {% if app.user %}
        <a href="{{ path('app_logout') }}">Logout</a>
    {% else %}
        <a href="{{ path('app_login') }}">Login</a>
    {% endif %}
</nav>