{% extends 'base/base.html.twig' %}

{% block body %}
    {% include 'base/common-elements/details_title.html.twig' with {
        'title': 'Presupuestos',
        'path': path('app_presupuesto_new'),
        'button_text': 'Crear presupuesto'
    } %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tipo</th>
                <th>Estado</th>
                <th>Precio final</th>
                <th>Descripción Cliente</th>
                <th>Contacto</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for presupuesto in presupuestos %}
            <tr>
                <td>{{ presupuesto.id }}</td>
                <td>{{ presupuesto.tipo }}</td>
                <td>{{ presupuesto.estado }}</td>
                <td>{{ presupuesto.precioFinal }}</td>
                <td>{{ presupuesto.descripcionProyecto }}</td>
                <td>{{ presupuesto.correoContacto }}</td>
                <td>
                    <a href="{{ path('app_presupuesto_show', {'id': presupuesto.id}) }}" class="btn btn-secondary mr-2">{{ "Show" | trans }}</a>
                    <a href="{{ path('app_presupuesto_edit', {'id': presupuesto.id}) }}" class="btn btn-secondary mr-2">{{ "Edit" | trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
