{% extends 'base/base.html.twig' %}

{% block body %}
    <h1>Presupuestos</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tipo</th>
                <th>Estado</th>
                <th>Precio_final</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for presupuesto in presupuestos %}
            <tr>
                <td>{{ presupuesto.id }}</td>
                <td>{{ presupuesto.tipo }}</td>
                <td>{{ presupuesto.estado }}</td>
                <td>{{ presupuesto.precioFinal }}</td>
                <td>
                    <a href="{{ path('app_presupuesto_show', {'id': presupuesto.id}) }}">show</a>
                    <a href="{{ path('app_presupuesto_edit', {'id': presupuesto.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_presupuesto_new') }}">Create new</a>
{% endblock %}
