{% extends 'presupuesto/base_presupuesto.html.twig' %}

{% block body %}
    <h1>Presupuesto</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ presupuesto.id }}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ presupuesto.tipo }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ presupuesto.estado }}</td>
            </tr>
            <tr>
                <th>Precio_final</th>
                <td>{{ presupuesto.precioFinal }}</td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex flex-row align-items-center mb-3">
        <a href="{{ path('app_presupuesto_index') }}" class="btn btn-secondary mr-2">{{ 'Back to the list' | trans }}</a>
        {% if presupuesto.estado != 'aprobado' %}
            <a href="{{ path('app_presupuesto_edit', {'id': presupuesto.id}) }}" class="btn btn-primary mr-2">{{ 'Edit' | trans }}</a>
        {% endif %}

        {{ include('presupuesto/_delete_form.html.twig') }}
    </div>
{% endblock %}
